USE [KICZAN_PRODUCTION_SYSTEM]
GO
/****** Object:  Table [dbo].[AUDIT_LOG]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIT_LOG](
	[AUDIT_LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ENTITY] [varchar](48) NOT NULL,
	[ACTION] [varchar](48) NOT NULL,
	[OCCURRED_AT] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDIT_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [varchar](48) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBS](
	[JOB_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_DESC] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATORS]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATORS](
	[OPERATOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_ID] [int] NOT NULL,
	[OPERATOR_NAME] [varchar](48) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OPERATOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PART_HISTORY]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_HISTORY](
	[PART_HISTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[OPERATOR_ID] [int] NOT NULL,
	[PART_NUMBER] [varchar](128) NOT NULL,
	[DATE_DUE] [date] NOT NULL,
	[PURCHASE_ORDER_NUMBER] [varchar](128) NOT NULL,
	[QTY] [int] NOT NULL,
	[OPERATIONS] [varchar](128) NOT NULL,
	[DATE_RECEIVED] [date] NOT NULL,
	[TO_DELETE] [bit] NOT NULL,
	[ROW_VERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PART_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLES_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](48) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ROLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[USER_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 8/24/2026 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](48) NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDIT_LOG] ADD  DEFAULT (getdate()) FOR [OCCURRED_AT]
GO
ALTER TABLE [dbo].[PART_HISTORY] ADD  DEFAULT ((0)) FOR [TO_DELETE]
GO
ALTER TABLE [dbo].[AUDIT_LOG]  WITH CHECK ADD  CONSTRAINT [fk_auditlog_user] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AUDIT_LOG] CHECK CONSTRAINT [fk_auditlog_user]
GO
ALTER TABLE [dbo].[OPERATORS]  WITH CHECK ADD  CONSTRAINT [FK_OPERATORS_JOBS] FOREIGN KEY([JOB_ID])
REFERENCES [dbo].[JOBS] ([JOB_ID])
GO
ALTER TABLE [dbo].[OPERATORS] CHECK CONSTRAINT [FK_OPERATORS_JOBS]
GO
ALTER TABLE [dbo].[PART_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_PART_HISTORY_CUSTOMERS] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[PART_HISTORY] CHECK CONSTRAINT [FK_PART_HISTORY_CUSTOMERS]
GO
ALTER TABLE [dbo].[PART_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_PART_HISTORY_OPERATORS] FOREIGN KEY([OPERATOR_ID])
REFERENCES [dbo].[OPERATORS] ([OPERATOR_ID])
GO
ALTER TABLE [dbo].[PART_HISTORY] CHECK CONSTRAINT [FK_PART_HISTORY_OPERATORS]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [fk_user_roles_role] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ROLES_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [fk_user_roles_role]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [fk_user_roles_user] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [fk_user_roles_user]
GO
