USE [KICZAN_PRODUCTION_SYSTEM]
GO
/****** Object:  StoredProcedure [dbo].[CREATE_RECORD]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREATE_RECORD] @CUSTOMER_ID INT, @OPERATOR_ID INT, @PART_NUMBER VARCHAR(128), @DATE_DUE DATE, @PURCHASE_ORDER_NUMBER VARCHAR(128), 
@QTY INT, @OPERATIONS VARCHAR(128), @DATE_RECEIVED DATE, @TO_DELETE TINYINT
AS
BEGIN
SET NOCOUNT ON; 
INSERT INTO dbo.PART_HISTORY (CUSTOMER_ID, OPERATOR_ID, PART_NUMBER, DATE_DUE, PURCHASE_ORDER_NUMBER, QTY, OPERATIONS, DATE_RECEIVED ,TO_DELETE)
VALUES (@CUSTOMER_ID, @OPERATOR_ID, @PART_NUMBER, @DATE_DUE, @PURCHASE_ORDER_NUMBER, @QTY, @OPERATIONS, @DATE_RECEIVED , @TO_DELETE);
END;
GO
/****** Object:  StoredProcedure [dbo].[DATE_DUE_RANGE_QUERY]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DATE_DUE_RANGE_QUERY] @dateB DATE, @dateE DATE, @pageSize INT, @offsetNum INT
AS
BEGIN
SET NOCOUNT ON;
SELECT PART_HISTORY.PART_HISTORY_ID
	,CUSTOMERS.CUSTOMER_NAME
	,OPERATORS.OPERATOR_NAME
    ,PART_HISTORY.PART_NUMBER
    ,PART_HISTORY.QTY
    ,PART_HISTORY.DATE_RECEIVED
    ,PART_HISTORY.DATE_DUE
    ,PART_HISTORY.OPERATIONS
    ,PART_HISTORY.PURCHASE_ORDER_NUMBER
	,PART_HISTORY.ROW_VERSION
FROM 
	dbo.CUSTOMERS
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	PART_HISTORY.DATE_DUE between @dateB AND @dateE
	AND PART_HISTORY.TO_DELETE = 0
ORDER BY 
	PART_HISTORY.DATE_DUE ASC
OFFSET @offsetNum ROWS
FETCH NEXT @pageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[DATE_DUE_RANGE_QUERY_COUNT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DATE_DUE_RANGE_QUERY_COUNT] @dateB DATE, @dateE DATE
AS
BEGIN
SET NOCOUNT ON;
SELECT COUNT(*)
FROM 
	dbo.CUSTOMERS
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	PART_HISTORY.DATE_DUE between @dateB AND @dateE
	AND PART_HISTORY.TO_DELETE = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[FABRICATION_DEPARTMENT_QUERY]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FABRICATION_DEPARTMENT_QUERY] @pageSize INT, @offsetNum INT
AS
BEGIN
SET NOCOUNT ON;
SELECT PART_HISTORY.PART_HISTORY_ID
	,CUSTOMERS.CUSTOMER_NAME
	,OPERATORS.OPERATOR_NAME
    ,PART_HISTORY.PART_NUMBER
    ,PART_HISTORY.QTY
    ,PART_HISTORY.DATE_RECEIVED
    ,PART_HISTORY.DATE_DUE
    ,PART_HISTORY.OPERATIONS
    ,PART_HISTORY.PURCHASE_ORDER_NUMBER
	,PART_HISTORY.ROW_VERSION
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(JOBS.JOB_ID = 1 OR JOBS.JOB_ID = 2 OR JOBS.JOB_ID = 3 OR JOBS.JOB_ID = 4)
	AND PART_HISTORY.TO_DELETE = 0
ORDER BY 
	OPERATORS.OPERATOR_NAME ASC
OFFSET @offsetNum ROWS
FETCH NEXT @pageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[FABRICATION_DEPARTMENT_QUERY_COUNT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FABRICATION_DEPARTMENT_QUERY_COUNT]
AS
BEGIN
SET NOCOUNT ON;
SELECT COUNT(*)
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(JOBS.JOB_ID = 1 OR JOBS.JOB_ID = 2 OR JOBS.JOB_ID = 3 OR JOBS.JOB_ID = 4)
	AND PART_HISTORY.TO_DELETE = 0
END;
GO
/****** Object:  StoredProcedure [dbo].[GET_CUSTOMER_QTY_LAST_6_MONTHS]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_CUSTOMER_QTY_LAST_6_MONTHS]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT TOP 5
		PART_HISTORY.CUSTOMER_ID,
		CUSTOMERS.CUSTOMER_NAME,
		SUM(PART_HISTORY.QTY) AS TotalQuantity
	FROM
		DBO.PART_HISTORY
	INNER JOIN
		DBO.CUSTOMERS ON PART_HISTORY.CUSTOMER_ID = CUSTOMERS.CUSTOMER_ID
	WHERE
		PART_HISTORY.DATE_RECEIVED >= DATEADD(month, -6, GETDATE())
		AND PART_HISTORY.DATE_RECEIVED <= GETDATE()
		AND (PART_HISTORY.TO_DELETE = 0)
	GROUP BY
		PART_HISTORY.CUSTOMER_ID,
		CUSTOMERS.CUSTOMER_NAME
	HAVING
		SUM(PART_HISTORY.QTY) > 0
	ORDER BY
		TotalQuantity DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GET_CUSTOMERS]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_CUSTOMERS]
AS
BEGIN
SET NOCOUNT ON;
SELECT CUSTOMERS.CUSTOMER_ID
	,CUSTOMERS.CUSTOMER_NAME
FROM 
	dbo.CUSTOMERS
ORDER BY 
	CUSTOMERS.CUSTOMER_ID ASC
END;
GO
/****** Object:  StoredProcedure [dbo].[GET_OPERATOR_QTY_LAST_6_MONTHS]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_OPERATOR_QTY_LAST_6_MONTHS]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		PART_HISTORY.OPERATOR_ID,
		OPERATORS.OPERATOR_NAME,
		SUM(PART_HISTORY.QTY) AS TotalQuantity
	FROM
		DBO.PART_HISTORY
	INNER JOIN
		DBO.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
	WHERE
		PART_HISTORY.DATE_RECEIVED >= DATEADD(month, -6, GETDATE())
		AND PART_HISTORY.DATE_RECEIVED <= GETDATE()
		AND PART_HISTORY.TO_DELETE = 0
		AND PART_HISTORY.OPERATOR_ID IN (4, 5)
	GROUP BY
		PART_HISTORY.OPERATOR_ID,
		OPERATORS.OPERATOR_NAME
	HAVING
		SUM(PART_HISTORY.QTY) > 0
	ORDER BY
		TotalQuantity DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GET_OPERATORS]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_OPERATORS]
AS
BEGIN
SET NOCOUNT ON;
SELECT OPERATORS.OPERATOR_ID
	,OPERATORS.OPERATOR_NAME
FROM 
	dbo.OPERATORS
ORDER BY 
	OPERATORS.OPERATOR_ID ASC
END;
GO
/****** Object:  StoredProcedure [dbo].[GET_VOLUME_BY_QUARTER_LAST_FISCAL_YEAR]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_VOLUME_BY_QUARTER_LAST_FISCAL_YEAR]
AS
BEGIN
SET
	NOCOUNT ON;
SELECT
	CONCAT(YEAR(PART_HISTORY.DATE_DUE), '-Q', DATEPART(quarter, PART_HISTORY.DATE_DUE)) AS [Fiscal Quarter],
	COUNT(PART_HISTORY.PART_NUMBER) AS [Total Volume],
	SUM(PART_HISTORY.QTY) AS [Total Scheduled Items]
FROM
	DBO.PART_HISTORY
WHERE
	PART_HISTORY.TO_DELETE = 0
	AND PART_HISTORY.DATE_DUE >= DATEFROMPARTS(YEAR(GETDATE()) - 1, 1, 1)
	AND PART_HISTORY.DATE_DUE < DATEFROMPARTS(YEAR(GETDATE()), 1, 1)
GROUP BY
	YEAR(PART_HISTORY.DATE_DUE),
	DATEPART(quarter, PART_HISTORY.DATE_DUE)
ORDER BY
	[Fiscal Quarter] ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[MARK_PART_DELETED]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MARK_PART_DELETED] @p_part_history_id INT
AS
BEGIN
SET NOCOUNT ON;
UPDATE PART_HISTORY
SET TO_DELETE = 1
WHERE PART_HISTORY_ID = @p_part_history_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[NC_MACHINE_WORK_QUERY]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NC_MACHINE_WORK_QUERY] @pageSize INT, @offsetNum INT
AS
BEGIN
SET NOCOUNT ON;
SELECT PART_HISTORY.PART_HISTORY_ID
	,CUSTOMERS.CUSTOMER_NAME
	,OPERATORS.OPERATOR_NAME
    ,PART_HISTORY.PART_NUMBER
    ,PART_HISTORY.QTY
    ,PART_HISTORY.DATE_RECEIVED
    ,PART_HISTORY.DATE_DUE
    ,PART_HISTORY.OPERATIONS
    ,PART_HISTORY.PURCHASE_ORDER_NUMBER
	,PART_HISTORY.ROW_VERSION
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(JOBS.JOB_ID = 5)
	AND PART_HISTORY.TO_DELETE = 0
ORDER BY 
	OPERATORS.OPERATOR_NAME ASC
OFFSET @offsetNum ROWS
FETCH NEXT @pageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[NC_MACHINE_WORK_QUERY_COUNT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NC_MACHINE_WORK_QUERY_COUNT]
AS
BEGIN
SET NOCOUNT ON;
SELECT COUNT(*)
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(JOBS.JOB_ID = 5)
	AND PART_HISTORY.TO_DELETE = 0
END;
GO
/****** Object:  StoredProcedure [dbo].[NEXT_SIX_MONTHS_BY_DEPARTMENT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NEXT_SIX_MONTHS_BY_DEPARTMENT]
AS
BEGIN
SET
	NOCOUNT ON;
SELECT 
	CASE
		WHEN OPERATORS.JOB_ID BETWEEN 1 AND 4 THEN 'Fabrication'
		WHEN OPERATORS.JOB_ID = 5 THEN 'Machining'
	END AS Department,
	COUNT(PART_HISTORY.PART_HISTORY_ID) AS TotalJobs
FROM
	DBO.PART_HISTORY
INNER JOIN
	DBO.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
WHERE
	PART_HISTORY.DATE_DUE >= CAST(GETDATE() AS DATE)
	AND PART_HISTORY.DATE_DUE <= DATEADD(month, 6, GETDATE())
	AND (PART_HISTORY.TO_DELETE = 0)
GROUP BY
	CASE
		WHEN OPERATORS.JOB_ID BETWEEN 1 AND 4 THEN 'Fabrication'
		WHEN OPERATORS.JOB_ID = 5 THEN 'Machining'
	END;
END;
GO
/****** Object:  StoredProcedure [dbo].[NEXT_SIX_MONTHS_JOBS_BY_DEPARTMENT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NEXT_SIX_MONTHS_JOBS_BY_DEPARTMENT]
AS
BEGIN
SET 
	NOCOUNT ON;
SELECT
	CASE
		WHEN OPERATORS.JOB_ID BETWEEN 1 AND 4 THEN 'Fabrication'
		WHEN OPERATORS.JOB_ID = 5 THEN 'Machining'
	END AS Department,
	PART_HISTORY.PART_NUMBER AS [Part Number],
	PART_HISTORY.QTY AS Quantity,
	PART_HISTORY.PURCHASE_ORDER_NUMBER AS [Purchase Order Number],
	PART_HISTORY.DATE_DUE AS [Due Date]
FROM
	DBO.PART_HISTORY
INNER JOIN
	DBO.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
WHERE
	PART_HISTORY.DATE_DUE >= CAST(GETDATE() AS DATE)
	AND PART_HISTORY.DATE_DUE <= DATEADD(month, 6, GETDATE())
	AND (PART_HISTORY.TO_DELETE = 0)
GROUP BY
	CASE
		WHEN OPERATORS.JOB_ID BETWEEN 1 AND 4 THEN 'Fabrication'
		WHEN OPERATORS.JOB_ID = 5 THEN 'Machining'
	END,
	PART_HISTORY.PART_NUMBER,
	PART_HISTORY.QTY,
	PART_HISTORY.PURCHASE_ORDER_NUMBER,
	PART_HISTORY.DATE_DUE
END;
GO
/****** Object:  StoredProcedure [dbo].[OPERATOR_NAME_QUERY]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OPERATOR_NAME_QUERY] @opName VARCHAR(10), @pageSize INT, @offsetNum INT
AS
BEGIN
SET NOCOUNT ON;
SELECT PART_HISTORY.PART_HISTORY_ID
	,CUSTOMERS.CUSTOMER_NAME
	,OPERATORS.OPERATOR_NAME
    ,PART_HISTORY.PART_NUMBER
    ,PART_HISTORY.QTY
    ,PART_HISTORY.DATE_RECEIVED
    ,PART_HISTORY.DATE_DUE
    ,PART_HISTORY.OPERATIONS
    ,PART_HISTORY.PURCHASE_ORDER_NUMBER
	,PART_HISTORY.ROW_VERSION
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(OPERATORS.OPERATOR_NAME LIKE @opName)
	AND PART_HISTORY.TO_DELETE = 0
ORDER BY 
	PART_HISTORY.DATE_DUE ASC
OFFSET @offsetNum ROWS
FETCH NEXT @pageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[OPERATOR_NAME_QUERY_COUNT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OPERATOR_NAME_QUERY_COUNT] @opName VARCHAR(10)
AS
BEGIN
SET NOCOUNT ON;
SELECT COUNT(*)
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(OPERATORS.OPERATOR_NAME LIKE @opName)
	AND PART_HISTORY.TO_DELETE = 0
END;
GO
/****** Object:  StoredProcedure [dbo].[PART_NUMBER_QUERY]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PART_NUMBER_QUERY] @partNo VARCHAR(50), @pageSize INT, @offsetNum INT
AS
BEGIN
SET NOCOUNT ON;
SELECT PART_HISTORY.PART_HISTORY_ID
	,CUSTOMERS.CUSTOMER_NAME
	,OPERATORS.OPERATOR_NAME
    ,PART_HISTORY.PART_NUMBER
    ,PART_HISTORY.QTY
    ,PART_HISTORY.DATE_RECEIVED
    ,PART_HISTORY.DATE_DUE
    ,PART_HISTORY.OPERATIONS
    ,PART_HISTORY.PURCHASE_ORDER_NUMBER
	,PART_HISTORY.ROW_VERSION
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(PART_HISTORY.PART_NUMBER LIKE @partNo)
	AND PART_HISTORY.TO_DELETE = 0
ORDER BY 
	PART_HISTORY.DATE_DUE ASC
OFFSET @offsetNum ROWS
FETCH NEXT @pageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[PART_NUMBER_QUERY_ARCHIVE]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PART_NUMBER_QUERY_ARCHIVE] @partNo VARCHAR(50), @pageSize INT, @offsetNum INT
AS
BEGIN
SET NOCOUNT ON;
SELECT PART_HISTORY.PART_HISTORY_ID
	,CUSTOMERS.CUSTOMER_NAME
	,OPERATORS.OPERATOR_NAME
    ,PART_HISTORY.PART_NUMBER
    ,PART_HISTORY.QTY
    ,PART_HISTORY.DATE_RECEIVED
    ,PART_HISTORY.DATE_DUE
    ,PART_HISTORY.OPERATIONS
    ,PART_HISTORY.PURCHASE_ORDER_NUMBER
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(dbo.PART_HISTORY.PART_NUMBER LIKE @partNo)
	AND PART_HISTORY.TO_DELETE = 1
ORDER BY 
	PART_HISTORY.DATE_DUE ASC
OFFSET @offsetNum ROWS
FETCH NEXT @pageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[PART_NUMBER_QUERY_ARCHIVE_COUNT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PART_NUMBER_QUERY_ARCHIVE_COUNT] @partNo VARCHAR(50)
AS
BEGIN
SET NOCOUNT ON;
SELECT COUNT(*)
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(PART_HISTORY.PART_NUMBER LIKE @partNo)
	AND PART_HISTORY.TO_DELETE = 1
END;
GO
/****** Object:  StoredProcedure [dbo].[PART_NUMBER_QUERY_COUNT]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PART_NUMBER_QUERY_COUNT] @partNo VARCHAR(50)
AS
BEGIN
SET NOCOUNT ON;
SELECT COUNT(*)
FROM 
	dbo.CUSTOMERS 
INNER JOIN 
	dbo.PART_HISTORY ON CUSTOMERS.CUSTOMER_ID = PART_HISTORY.CUSTOMER_ID
INNER JOIN 
	dbo.OPERATORS ON PART_HISTORY.OPERATOR_ID = OPERATORS.OPERATOR_ID
INNER JOIN 
	dbo.JOBS ON OPERATORS.JOB_ID = JOBS.JOB_ID
WHERE 
	(PART_HISTORY.PART_NUMBER LIKE @partNo)
	AND PART_HISTORY.TO_DELETE = 0
END;
GO
/****** Object:  StoredProcedure [dbo].[RESTORE_PART]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RESTORE_PART] @p_part_history_id INT
AS
BEGIN
SET NOCOUNT ON;
UPDATE PART_HISTORY
SET TO_DELETE = 0
WHERE PART_HISTORY_ID = @p_part_history_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuarterlyProduction]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetQuarterlyProduction]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH QuarterData AS
    (
        SELECT
            YEAR(DATE_DUE) AS [Year],
            DATEPART(QUARTER, DATE_DUE) AS [QuarterNumber],
            CONCAT(YEAR(DATE_DUE), '-Q', DATEPART(QUARTER, DATE_DUE)) AS [FiscalQuarter],
            COUNT(PART_HISTORY_ID) AS [Total Orders],
            SUM(QTY) AS [Total Scheduled Items]
        FROM PART_HISTORY
        WHERE TO_DELETE = 0
        GROUP BY
            YEAR(DATE_DUE),
            DATEPART(QUARTER, DATE_DUE)
    ),
    RankedData AS
    (
        SELECT *,
               ROW_NUMBER() OVER (ORDER BY [Year], QuarterNumber) AS RowNum,
               COUNT(*) OVER () AS TotalRows
        FROM QuarterData
    )
    SELECT
        [Year],
        QuarterNumber,
        FiscalQuarter,
        [Total Orders],
        [Total Scheduled Items]
    FROM RankedData
    WHERE RowNum > 1
      AND RowNum < TotalRows
    ORDER BY [Year], QuarterNumber;
END;
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_RECORD]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_RECORD] @p_PART_HISTORY_ID INT,
@p_CUSTOMER_ID INT,
@p_OPERATOR_ID INT,  
@p_PART_NUMBER VARCHAR(128),
@p_DATE_DUE DATE,
@p_PURCHASE_ORDER_NUMBER VARCHAR(128),
@p_QTY INT,
@p_OPERATIONS VARCHAR(128), 
@p_DATE_RECEIVED DATE,
@p_TO_DELETE TINYINT,
@p_ROW_VERSION ROWVERSION
AS
BEGIN
SET NOCOUNT ON;
UPDATE PART_HISTORY
SET 
 CUSTOMER_ID = @P_CUSTOMER_ID,
 OPERATOR_ID = @p_OPERATOR_ID,
 PART_NUMBER = @p_PART_NUMBER,
 DATE_DUE = @p_DATE_DUE,
 PURCHASE_ORDER_NUMBER = @p_PURCHASE_ORDER_NUMBER,
 QTY = @p_QTY,
 OPERATIONS = @p_OPERATIONS,
 DATE_RECEIVED = @p_DATE_RECEIVED,
TO_DELETE = @p_TO_DELETE
WHERE  
	PART_HISTORY_ID = @P_PART_HISTORY_ID
	AND ROW_VERSION = @p_ROW_VERSION;
IF @@ROWCOUNT = 0
BEGIN
	RAISERROR('Concurrency violation: The record has been modified by another user.', 16, 1);
	RETURN;
END
END;
GO
/****** Object:  StoredProcedure [dbo].[USER_NAME_QUERY]    Script Date: 8/24/2026 12:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USER_NAME_QUERY] @userName VARCHAR(48)
AS
BEGIN
SET NOCOUNT ON;
SELECT
	USERS.USER_ID,
	USERS.USER_NAME,
    ROLES.ROLES_ID,
    ROLES.ROLE_NAME
FROM 
	dbo.USERS
JOIN 
	dbo.USER_ROLES on USERS.USER_ID = USER_ROLES.USER_ID
JOIN 
	dbo.ROLES on ROLES.ROLES_ID = USER_ROLES.ROLE_ID
WHERE 
	USERS.USER_NAME = @username;
END;
GO
